.rounded .image_wrap{
		-webkit-mask-image: -webkit-radial-gradient(circle, white, black);
		-webkit-transform: translateZ(0);
	}
	.rounded .image_wrap::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 100%;
		border: 1px solid rgba(170, 170, 170, 0.7);
		box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, .3);
		background: transparent;
		z-index: 1;
	}